## Warmup
![image](https://user-images.githubusercontent.com/62541370/200296355-a895ee62-aa28-4b86-9a27-be5ece848ea3.png)

## Balanced
![image](https://user-images.githubusercontent.com/62541370/200296896-dcf46b36-ef51-4747-9be0-85b54080e2ed.png)

## Sierpinski
![image](https://user-images.githubusercontent.com/62541370/200297790-eb551463-ce66-4ea4-be03-9c7ad5c739e9.png)

## Merge
![image](https://user-images.githubusercontent.com/62541370/200298955-b636eee6-0a17-41a4-b17b-64f371681d94.png)
