## Test: boggle
![image](https://user-images.githubusercontent.com/62541370/201530379-037b630c-3c38-488b-bd13-5bda9d5d38e9.png)

## Test: voting
### version1
![image](https://user-images.githubusercontent.com/62541370/201528517-fd673cd9-a325-4d68-beb8-7a83888dd2c9.png)
