## Tests from maze.cpp

![Uploading image.png…]()
