## Tests from maze.cpp


![image](https://user-images.githubusercontent.com/62541370/194084762-291317e9-5b8e-4670-a3cf-faf43543fc0f.png)
